<section class="mx-5">
    <h1 class="text-2xl font-bold">Custom Pipes</h1>
    <h3 class="text-xl font-thin">Pipes no incluidos en Angular</h3>
</section>

<div class="stats shadow">
  <div class="stat">
    <div class="stat-title">ToggleCase Pipe</div>
    <div class="stat-value">{{name()| toggleCase:upperCase() }}</div>
    <div class="stat-desc">{{name()}}</div>

    <button 
    (click)="toggleSignal()"
    class="btn btn-primary">ToggleCase</button>
  </div>
</div>

<div class="divider my-2"></div>

<section class="my-2">
    
    <h1 class="text-2xl font-bold">Pipes personalizados en accion</h1>
    <div class="flex gap-2 justify-end w-full">
        <button class="btn btn-primary">Por nombre</button>
        <button class="btn btn-accent">Por volar</button>
        <button class="btn btn-secondary">Por color</button>
        <button class="btn btn-info">Por creador</button>

    </div>
</section>

<div class="overflow-x-auto w-full">
  <table class="table table-xs">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Can fly?</th>
        <th>Color</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
        @for (hero of heroes(); track hero.id) {
            <tr>
              <th>{{hero.id}}</th>
              <td>{{hero.name}}</td>
              <td>{{hero.canFly}}</td>
              <td>{{hero.color}}</td>
              <td>{{hero.creator}}</td>
            </tr>
        }
    </tbody>
  </table>
</div>